.main-champion-long-summary {
  margin: 4em;

  h3::first-letter {
    text-transform: capitalize;
  }

  p::first-letter,
  ul::first-letter {
    text-transform: capitalize;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  .lore-name-champion {
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    p {
      text-align: center;
      margin: 0 20%;
    }
  }
  .section-stats-info-skills-champ {
    margin: 10% 10%;
    gap: 1em;
  }

  .stats-info-skills-champ {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    ul {
      display: flex;
      flex-basis: 34%;
      justify-content: flex-start;
    }
    .champ-stats-div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      gap: 3em;

      .stats-grouping-ol {
        display: flex;
        gap: 5em;
        width: 5em;
        justify-content: space-between;
        align-items: center;
        p {
          min-width: 7em;
        }
      }
    }
    .champ-info-div {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      p {
        flex-basis: 15%;
      }
    }
  }

  .champion-abilities-div {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 5em 0;
  }

  .champion-ability-single-div {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
