.searchbar-general {
  display: flex;
  gap: 1rem;
  input {
    width: 20rem;
    font-size: 24px;
  }
}

label {
  color: white;
}

.list-buttons-main {
  display: flex;
  gap: 10px;
  align-items: center;
  .button-search-parameters {
    min-height: 3em;
    min-width: 6em;
    font-size: 16px;
  }
}
